<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hhu.its.resource.service.mapper.FolderResourceMappingMapper">

    <resultMap id="BaseResultMap" type="cn.edu.hhu.its.resource.service.model.domain.FolderResourceMapping">
            <id property="id" column="id" />
            <result property="folderId" column="folder_id" />
            <result property="resourceId" column="resource_id" />
            <result property="resourceAlias" column="resource_alias" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,folder_id,resource_id,resource_alias,created_at
    </sql>
</mapper>
