<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hhu.its.resource.service.mapper.ResourceDetailMapper">

    <resultMap id="BaseResultMap" type="cn.edu.hhu.its.resource.service.model.domain.ResourceDetail">
            <id property="id" column="id" />
            <result property="resourceId" column="resource_id" />
            <result property="filePath" column="file_path" />
            <result property="description" column="description" />
            <result property="metadata" column="metadata" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,resource_id,file_path,description,metadata,created_at
    </sql>
</mapper>
