<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hhu.its.user.service.model.mapper.UserFavoriteMapper">

    <resultMap id="BaseResultMap" type="cn.edu.hhu.its.user.service.model.domain.UserFavoriteDO">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="resourceId" column="resource_id" />
            <result property="favoritedAt" column="favorited_at" />
            <result property="remark" column="remark" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        <if test="true">
        id,user_id,resource_id,favorited_at,remark,is_deleted
        </if>
    </sql>
</mapper>
