<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hhu.its.generator.service.mapper.GenerateTaskMapper">

    <resultMap id="BaseResultMap" type="cn.edu.hhu.its.generator.service.model.domain.GenerateTask">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="inputType" column="input_type" />
            <result property="inputData" column="input_data" />
            <result property="taskType" column="task_type" />
            <result property="status" column="status" />
            <result property="resourceId" column="resource_id" />
            <result property="errorMessage" column="error_message" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,input_type,input_data,task_type,status,
        resource_id,error_message,created_at,updated_at
    </sql>
</mapper>
